<template>
  <div class="products">
    <h1>List of Products</h1>
    <ul id="example-1">
      <li v-for="(product, i) in products" :key="i">{{ product.productId }} - {{ product.name }}</li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      products: null
    };
  },

  mounted() {
    let url = "http://localhost:3000/api/products/all";

    axios.get(url).then(res => {
      this.products = res.data;
    });
  }
};
</script>
