<template>
  <div class="users">
    <h1>List of Users</h1>
    <ul id="example-1">
      <li v-for="(user, i) in users" :key="i">{{ user.userId }} - {{ user.name }}</li>
    </ul>
  </div>
</template>

<script>
import axios from "axios";
export default {
  data() {
    return {
      users: null
    };
  },

  mounted() {
    let url = "http://localhost:3000/api/users/all";

    axios.get(url).then(res => {
      this.users = res.data;
    });
  }
};
</script>
